<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>Order Invoice</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   <style>
      .clearfix:after {
         content: "";
         display: table;
         clear: both;
      }

      a {
         color: #5D6975;
         text-decoration: underline;
      }

      body {
         position: relative;
         width: 21cm;
         height: 29.7cm;
         margin: 0 auto;
         color: #001028;
         background: #FFFFFF;
         font-family: Arial, sans-serif;
         font-size: 12px;
         font-family: Arial;
      }

      header {
         padding: 10px 0;
         margin-bottom: 30px;
      }

      #logo {
         text-align: center;
         margin-bottom: 10px;
      }

      #logo img {
         width: 90px;
      }

      h1 {
         border-top: 1px solid #5D6975;
         border-bottom: 1px solid #5D6975;
         color: #5D6975;
         font-size: 2.4em;
         line-height: 1.4em;
         font-weight: normal;
         text-align: center;
         margin: 0 0 20px 0;
         background: url(dimension.png);
      }

      #project {
         float: left;
      }

      #project span {
         color: #5D6975;
         text-align: right;
         width: 52px;
         margin-right: 10px;
         display: inline-block;
         font-size: 0.7em;
      }

      #company {
         float: right;
         text-align: right;
      }

      #project div,
      #company div {
         white-space: nowrap;
      }

      table {
         width: 100%;
         border-collapse: collapse;
         border-spacing: 0;
         margin-bottom: 20px;
      }

      table tr:nth-child(2n-1) td {
         background: #F5F5F5;
      }

      table th,
      table td {
         text-align: center;
      }

      table th {
         padding: 5px 20px;
         color: #5D6975;
         border-bottom: 1px solid #C1CED9;
         white-space: nowrap;
         font-weight: normal;
      }

      table .service,
      table .desc {
         text-align: left;
      }

      table td {
         padding: 20px;
         text-align: right;
      }

      table td.service,
      table td.desc {
         vertical-align: top;
      }

      table td.unit,
      table td.qty,
      table td.total {
         font-size: .8em;
      }

      table td.grand {
         border-top: 1px solid #5D6975;
         ;
      }

      #notices .notice {
         color: #5D6975;
         font-size: .8em;
      }

      footer {
         color: #5D6975;
         width: 100%;
         height: 30px;
         position: absolute;
         bottom: 0;
         border-top: 1px solid #C1CED9;
         padding: 8px 0;
         text-align: center;
      }
   </style>

</head>

<body>
   <header class="clearfix container">
      <div id="logo">
         <img src="logo.png">
      </div>
      <h1>Order Invoice</h1>
      <div id="company" class="clearfix">
         <div>Company Name</div>
         <div>Company Addres</div>
         <div>000 - 000 - 000 - 000</div>
         <div><a href="mailto:companyemail.com">companyemail.com</a></div>
      </div>
      <div id="project">
         <div><span>Name</span>
            <%= userName %>
         </div>
         <div><span>ADDRESS</span>
            <%= deliveryAddress %>
         </div>
         <div><span>EMAIL</span> <a href="mailto:<%= userEmail %>">
               <%= userEmail %>
            </a></div>
         <div><span>DATE</span>
            <%= orderCreateAt %>
         </div>
      </div>
   </header>
   <main>
      <div class="container">
         <table>
            <thead>
               <tr>
                  <th class="service">PRODUCT</th>
                  <th class="desc">DESCRIPTION</th>
                  <th>PRICE</th>
                  <th>QTY</th>
                  <th>TOTAL</th>
               </tr>
            </thead>
            <tbody>
               <%= orders%>
                  <% for(let i=0; i < orders.length; i++) {%>
                     <tr>
                        <td class="service">
                           <%= orders[i].productInformation._id %>
                        </td>
                        <td class="desc">
                           <%= orders[i].productInformation.name %>
                        </td>
                        <td class="unit">
                           <%= currencySymbol %>
                              <%= orders[i].productInformation?.salePrice && !!orders[i].productInformation.salePrice ?
                                 orders[i].productInformation.salePrice : orders[i].productInformation?.price %>
                        </td>
                        <td class="qty">
                           <%= orders[i].qty %>
                        </td>
                        <td class="total">
                           <%= currencySymbol %>
                              <%= orders[i].productInformation?.salePrice && !!orders[i].productInformation.salePrice ?
                                 orders[i].productInformation.salePrice * orders[i].qty :
                                 orders[i].productInformation?.price * orders[i].qty %>
                        </td>
                     </tr>
                     <% } %>

                        <tr>
                           <td colspan="4">SUBTOTAL</td>
                           <td class="total">
                              <%= currencySymbol %>
                                 <%= subTotal%>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="4">TAX 25%</td>
                           <td class="total">
                              <%= currencySymbol %> 00.00
                           </td>
                        </tr>
                        <tr>
                           <td colspan="4" class="grand total">GRAND TOTAL</td>
                           <td class="grand total">
                              <%= currencySymbol %>
                                 <%= subTotal%>
                           </td>
                        </tr>
            </tbody>
         </table>
         <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
         </div>
      </div>
   </main>
</body>

</html>